body {
    font-family: "Helvetic","Arial",sans-serif;
    color: red;
    background-color: rgb(204, 204, 204);
    margin: 1em 10%;
    font-size: 10pt;
}
abbr {
    text-decoration: none;
    border: 0;
    font-style: normal;
    
}